<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>初升</title>

    {% load static %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'cviews/bootstrap-3.3.7-dist/css/bootstrap.css' %}">

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>初升</h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" id="pages">
                {% for page in pages %}
                    <li id="page{{ page.id }}"
                        onclick="handleChangePage('{{ page.id }}');">
                        <a>{{ page }}</a></li>
                {% endfor %}
                </ul>
                <input type="hidden" id="current-page-id" value=""/>
            </div>
        </div>

        <br/>
        <br/>

        <div class="row">

            <div class="col-xs-2 ">
                <ul class="nav nav-tabs nav-stacked" id="page-rows">
                </ul>
                <input type="hidden" id="current-page-row-id" value=""/>
            </div>

            <div class="col-xs-10" id="content-area">

            </div>

        </div>

    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="clear-modal" tabindex="-1" role="dialog" aria-labelledby="clear-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="clear-modal-label">任务清除</h4>
                </div>
                <div class="modal-body">
                     <button type="button" class="btn btn-default btn-sm" style="border-style: hidden; background-color: white" >方式</button>
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                     <label class="btn btn-default active" id="label_clear_task_way1">
                        <input type="radio" name="radio_clear_task_way_cview" value="clear_finished" checked>清除所有完成状态任务
                    </label>
                    <label class="btn btn-default" id="label_clear_task_way2" style="color:red">
                        <input type="radio" name="radio_clear_task_way_cview" value="clear_force_all">强制清除所有相关任务
                    </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" id="clear_task_modal_close">关闭</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="task_clear()">清除</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="info-modal-label">提示信息</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-default btn-sm" style="border-style: hidden; background-color: white" id="info_content_btn"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" id="info_modal_close">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="{% static 'cviews/js/jquery-3.3.1.min.js' %}"></script>
    <!-- 自定义JS -->
    <script src="{% static 'cviews/js/tools.js' %}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="{% static 'cviews/bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>

</body>
</html>